/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
    color: black;
}
/* My styling */
/* Header styles */
.header-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 1em;
    padding-bottom: 1em;
}
#login-icon {
    width: 25px;
}
#aboutus-icon {
    width: 35px;
}
.header-name,
.login-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-label {
    padding-left: 5px;
    font-size: 1.1em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 400;
    font-style: normal;
}
.aboutus-label {
    padding-left: 0;
}
.aboutus-icon {
    padding-left: 25px;
}
.brandname {
    font-size: 1.3em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 600;
    font-style: italic;
}
/* Form and background styling */
.bg-cover {
    background-image: url(https://github.com/igorlech/SunbeamCars/blob/main/img/cover.jpg);
    height: 32em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.formelements {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
}
.inputfield {
    width: 10em;
    font-size: 1.2em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
}
.legend {
    text-align: center;
    font-size: 1.5em;
    padding: 1em 0;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 600;
    font-style: normal;
}
.legend-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search {
    font-size: 1.3em;
    margin-top: 0.6em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: white;
    border: 1px solid grey;
    padding: 0.2em 0.5em;
    box-shadow: 0.5px 0.5px 3px 1.5px rgb(189, 193, 197);
}
.form {
    background-color: white;
    opacity: 0.9;
    width: 20em;
    margin-top: 2em;
    padding-bottom: 1em;
}
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-label {
    font-size: 1.4em;
    text-align: center;
    padding: 0.2em 0;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
}
/* Grid elements to use in desktop version */
#date1 {
    grid-area: one;
}
#date2 {
    grid-area: two;
}
#persons1 {
    grid-area: three;
}
#suitcases1 {
    grid-area: four;
}
/* Itemlist styling */
.itemlist-container {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.single-item {
    display: flex;
    flex-direction: column;
    padding: 1em;
    border: 1px solid grey;
    margin: 1em;
}
.car-img {
    width: 300px;
}
.car-img-cont {
    display: flex;
    justify-content: center;
}
.car-name-cont,
.car-desc-cont,
.costnbook-cont {
    display: flex;
    justify-content: center;
    margin-bottom: 1.1em;
}
.car-desc-cont {
    flex-direction: column;
}
.costnbook-cont {
    align-items: center;
    flex-direction: column;
}
.car-name {
    font-size: 1.8em;
    margin-top: 0.5em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 600;
    font-style: normal;
}
.car-description {
    font-size: 1.4em;
    line-height: 1.3em;
    text-align: center;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
}
.cost {
    font-size: 1.7em;
    margin-bottom: 0.7em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 600;
    font-style: normal;
}
.booknow {
    font-size: 1.3em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(248, 206, 142);
    border: 1px solid rgb(247, 198, 124);
    padding: 0.2em 0.5em;
    box-shadow: 0.5px 0.5px 3px 1.5px rgb(189, 193, 197);
}
/* Footer */
footer {
    background-color: rgb(233, 233, 233);
    height: 3em;
}
.footerinfo-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footerinfo {
    margin-top: 1em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 400;
    font-style: italic;
}
.page-main {
    min-height: 50em;
}
/* ACCESORY PAGE STYLING */
.bannerholder,
.bannerholder2 {
    background-image: url(/img/access-b1.jpg);
    height: 10em;
    background-position: 25% 75%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.aside-heading {
    margin: 1em;
    font-size: 2em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 700;
    font-style: normal;
}
.output-aside {
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6em;
    margin-bottom: 1.2em;
}
.from-input-aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 206, 142);
}
.checkbox-area {
    background-color: rgb(231, 231, 231);
}
.fieldclass {
    display: flex;
    flex-direction: column;
}
.a-check-single {
    margin-left: 0.8em;
    margin-bottom: 1em;
}
.a-c-lab{
    font-size: 1.5em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
}
.legend-a,
.legend-c {
    text-align: center;
    font-size: 1.7em;
    padding-top: 1.3em;
    padding-bottom: 1.5em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 600;
    font-style: normal;
}
.a-savecont {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 0.85em;
}
.a-check-save,
.c-input-save,
.printbutton {
    font-size: 1.5em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
    background-color: rgb(248, 206, 142);
}
.a-check-save:hover,
.c-input-save:hover,
.printbutton:hover {
    background-color: rgb(245, 192, 112);
}
.all-inclusive-aside {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: rgb(248, 206, 142);
}
.ai-text1 {
    font-size: 1.6em;
    text-align: center;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
}
.totaloutput {
    text-align: center;
    font-size: 1.6em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 600;
    font-style: normal;
}
/* CUSTOMER INFORMATION PAGE STYLING */
.single-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}
.single-input-check {
    display: flex;
    margin-bottom: 1.5em;
}
.user-input-area {
    background-color: rgb(231, 231, 231);
    display: flex;
    justify-content: center;
}
.c-aside-area {
    background-color: rgb(248, 206, 142);
    padding-bottom: 1em;
    padding-top: 1em;
    padding-left: 2em;
}
.c-aside-class {
    margin-bottom: 1em;
}
.c-booknow {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}
.c-input-save {
    font-size: 1.5em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
}
.si-label {
    font-size: 1.3em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 0.2em;
}
.u2 {
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 1em;
    padding-left: 1em;
    padding-bottom: 1.5em;
}
.printbutton-cont {
    padding-top: 1em;
}
.ui-r-heading {
    font-size: 1.5em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
    padding-top: 0.5em
}
/* Styling the c-aside-area */
.c-aside-class {
    font-size: 1.3em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
}
.r-output {
    font-size: 1.3em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
}
x-currenttime {
    font-size: 1.3em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
}
.accosen-head {
    font-size: 1.3em;
    font-family: forma-djr-deck,sans-serif;
    font-weight: 500;
    font-style: normal;
}
#check-output-list {
    padding-top: 0px;
}
/* Desktop styles */
@media screen and (min-width:800px) {
    .header-cont {
        padding: 1.2em 0;
    }
    .brandname {
        font-size: 2em;
    }
    .login-label {
        margin-left: 0.6em;
        font-size: 1.2em;
    }
    .form-container {
        display: block;
        margin-left: 12em;
        margin-top: 8em;
    }
    .bg-cover {
        height: 37em;
        background-position: 30% 70%;
    }
    .single-item {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin-left: 6em;
        margin-right: 6em;
    }
    .car-img {
        width: 20vw;
    }
    .cost {
        font-size: 5vh;
    }
    .itemlist-container {
        margin-bottom: 2em;
    }
    .formelements-cont {
        display: grid; 
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "one two"
            "three four";
    }
    .form {
        width: 28em;
        padding: 1em;
    }
    #searchbutton {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search:hover {
        transition: 0.2s;
        background-color: lightgray;
    }
    .booknow:hover {
        transition: 0.2s;
        background-color: rgb(245, 192, 112);
    }
    .page-main {
        min-height: 50.5em;
    }
    /* ACCESSORY PAGE STYLING */
    .access-main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "ban ban ban ban"
        "fia check check aia"
        "fia check check aia";
    }
    .bannerholder {
        grid-area: ban;
        height: auto;
    }
    .from-input-aside {
        grid-area: fia;
    }
    .checkbox-area {
        grid-area: check;
    }
    .all-inclusive-aside {
        grid-area: aia;
    }
    .fieldclass {
        display: grid;
        grid-auto-columns: 1fr; 
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
        "a1 a2"
        "a3 a4"
        "a5 a6"
        "a7 ."
        "a8 a8"; 
    }
    #acs1 {
        grid-area: a1;
    }
    #acs2 {
        grid-area: a2;
    }
    #acs3 {
        grid-area: a3;
    }
    #acs4 {
        grid-area: a4;
    }
    #acs5 {
        grid-area: a5;
    }
    #acs6 {
        grid-area: a6;
    }
    #acs7 {
        grid-area: a7;
    }
    #acs8 {
        grid-area: a8;
    }
    .totaloutput {
        font-size: 2.2em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
    /* CUSTOMER INFO PAGE desktop */
    .customer-main,
    .receipt-main {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas: 
        "ban2 ban2"
        "cus1 cus2"
        "cus1 cus2";
    }
    .bannerholder2 {
        grid-area: ban2;
        height: auto;
    }
    .user-input-area {
        grid-area: cus1;
    }
    .c-aside-area {
        grid-area: cus2;
    }
    .fieldset-c {
        display: grid;
        grid-auto-columns: 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 50px;
        grid-template-areas: 
        "cell1 cell2"
        "cell3 cell4"
        "cell5 cell6"
        "cell7 cell7";
    }
    #cc1 {
        grid-area: cell1;
    }
    #cc2 {
        grid-area: cell2;
    }
    #cc3 {
        grid-area: cell3;
    }
    #cc4 {
        grid-area: cell4;
    }
    #cc5 {
        grid-area: cell5;
    }
    #cc6 {
        grid-area: cell6;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #cc7 {
        grid-area: cell7;
    }
    .user-input-area {
        padding-bottom: 1.7em;
    }
    .c-booknow {
        padding-top: 0.8em;
    }
    .c-aside-area {
        padding-left: 4em;
    }
    /* Receipt page desktop */
    .u2 {
        padding-top: 1.6em;
        padding-bottom: 10.7em;
        padding-left: 3em;
    }
}
@media print {
    .noPrint {
        display: none;
    }
}

/* About Us with parallax */
video {
    display: block;
}
.bgnd {
    background-image: url("../img/cc1.png");
}
.bgnd2 {
    background-image: url("../img/carservice.jpg");
}
.bgnd3 {
    background-image: url("../img/carcouple.jpg");
}
.bgnd4 {
    background-image: url("../img/access-b2.jpg");
}
.about-main {
    font-family: forma-djr-deck,sans-serif;
}
.parallax {
    width: 100%;
    padding: 18.5em 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed;
    overflow: hidden;
}
.parallax2 {
    width: 100%;
    padding: 10em 0;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 30% 70%;
    background-attachment: fixed;
    overflow: hidden;
}
.heading-about {
    color: #fff;
    font-size: 6em;
    font-weight: 600;
    padding-left: 1em;
    position: absolute;
    top: 50%;
    bottom: 50%;
}
.test {
    padding-bottom: 25em;
}
#aboutheader {
    position: absolute;
    z-index: 999;
    background-color: #fff;
    width: 100%;
}
.navigation {
    position: fixed;
    z-index: 1;
    right: 0em;
    padding-right: 3em;
    padding-left: 1em;
    padding-top: 6em;
    top: 0;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    overflow: hidden;
}
.menuelement {
    display: block;
    font-size: 2em;
    color: #fff;
    /* color: rgb(207, 189, 20); */
    padding-bottom: 0.5em;
}
.btw-head,
.btw-text {
    width: 75%;
}
.btw-head {
    font-size: 3em;
    margin-left: 1.9em;
    margin-top: 1em;
    padding-top: 0.2em;
}
.btw-text {
    font-size: 1.5em;
    margin-left: 3.7em;
    margin-top: 1em;
    line-height: 1.3em;
}
.between-em {
    margin-bottom: 3em;
}
.between {
    padding-bottom: 2.2em;
}
.video {
    width: 100%;
}
.active {
    color: rgb(207, 189, 20);
}
.btw-text {
    font-family: oscine,sans-serif;
    font-weight: 400;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
/* Animation from animista */
.tracking-in-contract {
	-webkit-animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-3-16 9:49:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  @keyframes tracking-in-contract {
    0% {
      letter-spacing: 1em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      letter-spacing: normal;
      opacity: 1;
    }
  }
  
